<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>The Story of Andrew Kyu</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4 sticky-top" id="navbarandrew">
        <div class="container">
            <a class="navbar-brand scroll" href="#landingSection">Andrew Kyu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mobile-nav">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link scroll" id="aboutMe" href="#aboutMeSection"> About Me
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" id="skills" href="#skillsSection">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" id="experiences" href="#experienceSection">Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" id="contactMe" href="#contactMeSection">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Landing -->
    <div data-spy="scroll" data-target="#navbarandrew" data-offset="0">
        <div class="landing fadeIn">
            <div class="dark-overlay landing-inner text-light" id="landingSection">
                <div class="container">
                    <div class="row" style="margin-top: 80px;">
                        <div class="col-md-12 text-center">
                            <h1 class="display-3 mb-4">Welcome to my Portfolio!
                            </h1>
                            <hr />
                            <a href="../public/downloadables/Andrew Kyu Web Developer Resume Site.pdf" class="btn btn-primary mr-2" target="_blank">Download Resume</a>
                            <a href="https://github.com/AndrewKyu" target="_blank" class="btn btn-primary">View my Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Me Content -->
        <div class="aboutmecontainer" id="aboutMeSection">
            <div class="aboutmelanding" style="margin-bottom: 50px;">
                <div class="dark-overlay landing-inner text-light">
                    <div class="container" style="margin-top: 80px;">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1 class="display-3 mb-4">About Me
                                </h1>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-bottom: 60px;">
                <div class="row" style="padding: 30px;">
                    <div class="col-lg-6">
                        <img src="../public/img/IMG_5585.JPG" alt="profilepic" class="profileimg" style="width: 50%; border-radius: 30px; display: block; margin: 0 auto;">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="aboutmetitle" style="text-align: center;">
                            Here's my story...
                        </h1>
                        <br>
                        <p>Hello! I'm Andrew Kyu and welcome to my website! I am born and raised in the heart of Silicon Valley
                            where I developed a strong interest in technology. As a current student at San Jose State University
                            pursuing a Bachelor of Science degree in Computer Engineering, I've established extensive knowledge
                            in both software and hardware development. My passion lies in building innovative DIY gadgets
                            and problem solving, which brings together my creative and technical expertise.
                        </p>
                        <p>You'll see later on, most of my projects are primarily within the scope of web development and iOS
                            development as both of them are what I'm passionate about. My goal as a developer is to create
                            applications that will better the lives of others around me, and what better way is there to
                            approach this than to use my technical skills to build a better tomorrow.
                        </p>

                    </div>
                </div>
            </div>
            <!-- Skills -->
            <div class="skillscontainer" id="skillsSection">
                <div class="skillslanding" style="margin-bottom: 50px;">
                    <div class="dark-overlay landing-inner text-light">
                        <div class="container" style="margin-top: 80px;">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h1 class="display-3 mb-4">Skills
                                    </h1>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section>
                    <div id="skill">
                        <h1 style="text-align: center;">Technical Skills</h1>
                        <div class="row" id="bars">
                            <div class="col bar" data-percent="75" style="width: 192px;">
                                <p>CSS</p>
                                <canvas class="bar-circle" width="70" height="70"></canvas>
                            </div>
                            <div class="col bar" data-percent="75" style="width: 192px;">
                                <p>HTML</p>
                                <canvas class="bar-circle" width="70" height="70"></canvas>
                            </div>
                            <div class="col bar" data-percent="75" style="width: 192px;">
                                <p>JavaScript</p>
                                <canvas class="bar-circle" width="70" height="70"></canvas>
                            </div>
                            <div class="col bar" data-percent="70" style="width: 192px;">
                                <p>C++</p>
                                <canvas class="bar-circle" width="70" height="70"></canvas>
                            </div>
                            <div class="col bar" data-percent="50" style="width: 192px;">
                                <p>Swift4</p>
                                <canvas class="bar-circle" width="70" height="70"></canvas>
                            </div>
                        </div>
                        <h1 style="text-align: center;">Tools</h1>
                        <div class="row" id="bars">
                            <div class="col bar" data-percent="55" style="width: 192px;">
                                <p>MongoDB</p>
                                <canvas class="bar-circle" width="70" height="70"></canvas>
                            </div>
                            <div class="col bar" data-percent="55" style="width: 192px;">
                                <p>Node JS</p>
                                <canvas class="bar-circle" width="70" height="70"></canvas>
                            </div>
                            <div class="col bar" data-percent="65" style="width: 192px;">
                                <p>Express JS</p>
                                <canvas class="bar-circle" width="70" height="70"></canvas>
                            </div>
                            <div class="col bar" data-percent="55" style="width: 192px;">
                                <p>React JS</p>
                                <canvas class="bar-circle" width="70" height="70"></canvas>
                            </div>
                            <div class="col bar" data-percent="70" style="width: 192px;">
                                <p>BootStrap</p>
                                <canvas class="bar-circle" width="70" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--Add Projects Section??-->
            <!--Experiences-->
            <div class="experiencescontainer" id="experienceSection" style="margin-bottom: 60px;">
                <div class="experiencelanding" style="margin-bottom: 50px;">
                    <div class="dark-overlay landing-inner text-light">
                        <div class="container" style="margin-top: 80px;">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h1 class="display-3 mb-4">Experiences
                                    </h1>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card border border-primary" style="width: 18rem; display: block; margin: 0 auto 20px; ">
                            <img src="../public/img/talari.jpg" alt="talarinetworks" class="card-img-top">
                            <div class="card-body" style="background: lightgray">
                                <h5 class="card-title">Networks Engineer Intern</h5>
                                <p class="card-text">
                                    <b>
                                        <i>Raleigh, North Carolina</i>
                                    </b>
                                </p>
                                <p class="card-text">June 2014 - August 2014</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#networkengineermodal" style="display: block; margin: 0 auto;">Learn More</button>

                                <div class="modal fade" id="networkengineermodal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3>Networks Engineer Intern</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">

                                                    <img src="../public/img/northcarolina.jpg" alt="northcarolina" class="northcarolina" style="width: 45%; height: 45%; display: block; margin: 0 auto 20px;">

                                                </div>
                                                <p>After my Freshman year of college I was blessed to have been given the opportunity
                                                    to fly all the way across country to intern in Raleigh, North Carolina.
                                                    Not only did it develop me professionally in my field, but the experience
                                                    helped me grow as a person as well. </p>
                                                <p>Through this internship, I was able to pick up invaluable skills such as
                                                    configuring network appliances (Cisco Catalyst 2960-S, Palo Alto Networks
                                                    PA-500, and various Talari SD-WAN Appliances) to communicate with one
                                                    another through a Linux shell, which led me to be able to set up testbeds.
                                                    In addition to all that, I was trained simultaneously to be able to work
                                                    as an IT Intern at Talari's headquarters in San Jose, CA when I fly back
                                                    to California for the school year. Being put through extensive IT training,
                                                    I've administered platforms such as ZenDesk, Office 365, and Synology
                                                    Network Storages</p>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card border border-primary" style="width: 18rem; display: block; margin: 0 auto 20px;">
                            <img src="../public/img/talari.jpg" alt="talarinetworks" class="card-img-top">
                            <div class="card-body" style="background: lightgray">
                                <h5 class="card-title">IT and Web Developer Intern</h5>
                                <p class="card-text">
                                    <b>
                                        <i>San Jose, California</i>
                                    </b>
                                </p>
                                <p class="card-text">September, 2014 - Current</p>
                                <button type="button" class="btn btn-primary" style="display: block; margin: 0 auto;" data-toggle="modal" data-target="#techsupportandwebdevmodal">Learn More</button>

                                <div class="modal fade" id="techsupportandwebdevmodal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3>IT and Web Developer Intern</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <img src="../public/img/talarisj.jpg" alt="talarisanjose" class="talarisj" style="width: 45%; height: 45%; display: block; margin: 0 auto 20px;">
                                                </div>
                                                <h4>September 2014 - Febuary 2018</h4>
                                                <p>After my internship at Raleigh, North Carolina, I was given the opportunity
                                                    to work at Talari Network's headquarter back at home in San Jose, CA.
                                                    On days that I have gaps in between my classes, I would come into office
                                                    where I would be in charge of analyzing technical issues submitted to
                                                    the IT helpdesk and providing solutions to decrease redundancy of these
                                                    issues happening again. </p>
                                                <p>One of the biggest projects that I've done accomplished during my time as
                                                    the IT intern would be the office migration. During this period, me and
                                                    the rest of the IT team from the North Carolina office would spend weekends
                                                    on-site to set up the new network infrastructure for the office.</p>
                                                <h4>Febuary 2018 - Current</h4>
                                                <p>Later on down the line, I eventually picked up Web Development for Talari
                                                    Networks where I would branch out to the Marketing Team to create content
                                                    for their website via WordPress. Starting off with
                                                    <b>0</b> experience in HTML, CSS, and JavaScript, I started off by creating
                                                    simple responsive ads. As I learned more about web development, my interest
                                                    sparked and I began looking through our Talari website to see what else
                                                    I can improve. That's when I began reading BootStrap documentations so
                                                    I can implement new components to make these web pages look more modern.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card border border-primary" style="width: 18rem; display: block; margin: 0 auto;">
                            <img src="../public/img/SJSU.png" alt="talarinetworks" class="card-img-top">
                            <div class="card-body" style="background: lightgray">
                                <h5 class="card-title">Frontend Software Engineer Intern</h5>
                                <p class="card-text">
                                    <b>
                                        <i>San Jose, California</i>
                                    </b>
                                </p>
                                <p class="card-text">June, 2018 - Current</p>
                                <button type="button" data-toggle="modal" data-target="#sjsutelemetry" class="btn btn-primary" style="display: block; margin: 0 auto;">Learn More</button>

                                <div class="modal fade" id="sjsutelemetry">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3>Frontend Software Engineer Intern</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <img src="../public/img/IMG_5796.JPG" alt="talarisanjose" class="talarisj" style="width: 90%;">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>During this internship with San Jose State University, interns would
                                                            be in charge of creating software and hardware tools for computer
                                                            engineering students to use for classes. The project that I worked
                                                            on is called Telementry, which is a software to inspect, visualize
                                                            and modify variables within an embedded system. </p>
                                                        <p>During this internship, i've contributed to the UI design of the
                                                            web appplication where I worked on the frontend of the software
                                                            using bootstrap, jQuery, and Animate.css framework</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact Me -->
            <div class="contactcontainer" id="contactMeSection">
                <div class="contactlanding" style="margin-bottom: 50px;">
                    <div class="dark-overlay landing-inner text-light">
                        <div class="container" style="margin-top: 80px;">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h1 class="display-3 mb-4">Don't be shy!
                                    </h1>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 style="text-align: center;">Contact Me</h1>
                <div style="text-align: center;">{{msg}}</div>
                <section class="contactme" style=" padding: 60px;">
                    <form class="col-sm-12" method="POST" action="send">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="fullname">Full Name</label>
                                <input type="text" name="name" class="form-control" id="fullname" placeholder="Enter full name">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Email Address</label>
                                <input type="email" name="email" class="form-control" id="emailAddress" placeholder="Enter email address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label for="messageSent">Message</label>
                                <textarea class="form-control" id="messageSent" name="message" rows="3" placeholder="Shoot me a message!"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-primary" id="submit_message" type="submit" style="margin: 0 auto; display: block;">Submit</button>
                    </form>
                </section>
            </div>
            <!-- Footer -->
            <footer class="bg-dark text-white mt-5 p-4 text-center">
                <p>Copyright &copy; 2018 Andrew Kyu</p>
                <a href="https://linkedin.com/in/andrewkyu95" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/AndrewKyu">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://twitter.com/kyu_andrew" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </footer>
            <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="../public/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script defer src="../public/js/all.js"></script>
            <script src="../public/js/page.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>

</html>