.body {
  height: 100vh;
}
.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.landing {
  position: relative;
  background: url(../img/chicago.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 95vh;
  margin-top: -24px;
  margin-bottom: -50px;
  width: 100wh;
  height: 100wh;
}
.skillslanding {
  position: relative;
  background: url(../img/computer-1209641_960_720.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 60vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.aboutmelanding {
  position: relative;
  background: url(../img/IMG_5627.JPG) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 60vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.experiencelanding {
  position: relative;
  background: url(../img/experience.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 60vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.contactlanding {
  position: relative;
  background: url(../img/businessman-2956974_1280.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 60vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.landing-inner {
  padding-top: 80px;
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-form {
  opacity: 0.9;
}
.latest-profiles-img {
  width: 40px;
  height: 40px;
}
.form-control::placeholder {
  color: #bbb !important;
}
.about-content {
  padding: 0 200px 0 200px;
}
.profile-pic {
  width: 25%;
  height: auto;
  border-radius: 50%;
  margin: 15px auto 15px;
  display: block;
}
p {
  font-family: open sans;
  font-size: 15px;
}
#contact {
  width: 100%;
  height: 20%;
  text-align: center;
  padding: 10px 200px 10px 200px;
}
.skills {
  padding: 15px 60px 45px;
}
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  transition: 0.1s linear;
  transition-property: width, background-color;
}
.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
}
.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
  display: none;
}
